@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&display=swap");
html,
body {
  font-family: "Kiwi Maru", serif;
  font-size: 16px;
  margin: 0;
}
html *,
body * {
  box-sizing: border-box;
}

.f-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #021b79;
  background: -webkit-linear-gradient(to bottom, #021b79, #0575e6);
  background: linear-gradient(to top, #021b79, #0575e6);
  color: #eaeaea;
}
.f-page .f-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;
}
.f-page .f-content .f-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.f-page .f-content .f-box .f-header {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 2px;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion {
  box-shadow: 0 0 5px 1px #000000;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent .f-question {
  font-size: 1.5em;
  font-weight: 400;
  word-spacing: 10px;
  letter-spacing: 2px;
  padding: 10px;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent .f-answers {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent .f-answers .f-answersOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent .f-answers .f-answersOption .f-answerOptionHeader {
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 3px;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent .f-answers .f-answersOption .f-answerOptionBody {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 0 0 5px 1px #000000;
  border-radius: 10px;
  margin: 5px;
  width: 100%;
  height: 100%;
  position: relative;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent .f-answers .f-answersOption .f-answerOptionBody .f-iconContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  transition: opacity 300ms ease;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent .f-answers .f-answersOption .f-answerOptionBody .f-iconContent .f-goodIcon {
  font-size: 2em;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent .f-answers .f-answersOption .f-answerOptionBody .f-checkContainer {
  position: absolute;
  display: grid;
  z-index: 11;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  place-items: center;
  opacity: 0;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent .f-answers .f-answersOption .f-answerOptionBody .f-checkContainer .f-check {
  display: block;
  transform: scale(4) translateY(-0.15rem) translateX(0.1rem);
  stroke-dasharray: 20px;
  fill-opacity: 0.6;
  stroke-width: 0;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent .f-answers .f-answersOption .f-answerOptionBody:hover .f-iconContent {
  opacity: 1;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent .f-answers .f-answersOption.selected .f-iconContent {
  display: none;
}
.f-page .f-content .f-box .f-body.f-optionsQuestion .f-questionContent .f-answers .f-answersOption.selected .f-checkContainer {
  opacity: 1;
  transition: all 1s ease;
}

/*# sourceMappingURL=styles.css.map */
